
.add-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: left;
  width: 100%;
}

.add-links .input-wrapper h3 {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  margin-top: 4%;
  font-family: var(--body-font);

}

.add-links .user-input {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: auto;
  color: white;
  padding: 2px;
}

.add-links .input-wrapper label {
  font-size: 1.2rem;
  text-align: center;
  justify-content: center;
  font-family: var(--body-font);
}

.add-links .user-input #link-name {
  text-align: left;
  color: black;
  background-color: whitesmoke;
  justify-content: flex-start;
  display: table-row;
  font-family: monospace;
  width: 80%
}

.add-links .user-input #link-url {
  text-align: left;
  color: black;
  background-color: whitesmoke;
  justify-content: flex-start;
  display: table-row;
  font-family: monospace;
  width: 80%
}

.add-links .user-input #link-icon {
  text-align: left;
  color: black;
  background-color: whitesmoke;
  justify-content: flex-start;
  display: table-row;
  font-family: monospace;
  width: 80%
}

#add-link {
  text-align: center;
  color: black;
  font-size: 15px;
  font-family: var(--body-font);
  box-shadow: 0.25rem 0.25rem 2.5rem rgba(0, 0, 0, 0.5);
}

.add-links .input-wrapper button {
  background-color: var(--light-bg);
  color: var(--light-text);
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 1rem 0 0 0;
  box-shadow: 0.25rem 0.25rem 2.5rem rgba(0, 0, 0, 0.9);
  transition: background-color var(--transition-duration)
    var(--transition-timing);
}
.add-links .input-wrapper button:hover {
  background-color: var(--success);
}

@media screen and (max-width: 1080px) {
  h3 {
    text-align: center;
    color: white;
    font-size: 17px;
    margin-top: 3%;
  }

  .add-links .user-input {
    font-size: 14px;
    float: none;
    margin-right: 0;
    color: white;
  }

  label {
    font-size: 12px;
    text-align: center;
  justify-content: center; 
}


  .add-links .user-input #link-name,
  .add-links .user-input #link-url,
  .add-links .user-input #link-icon {
    text-align: left;
    color: black;
    background-color: whitesmoke;
    justify-content: flex-start;

    display: block;
    font-family: monospace;
  }

  #add-link {
    text-align: center;
    color: black;
    font-size: 14px;
    margin-top: 2px;
    box-shadow: 0.2rem 0.2rem 2rem rgba(0, 0, 0, 0.5);
  }

}

@media screen and (max-width: 768px) {
  h3 {
    text-align: center;
    color: white;
    font-size: 16px;
    margin-top: 4%;
  }

  .add-links .user-input {
    font-size: 11px;
    float: left;
    margin-right: auto;
    color: white;
    padding: 10px;
  }

  label {
    font-size: 15px;
    text-align: center;
    justify-content: center;
  }

  .add-links .user-input #link-name,
  .add-links .user-input #link-url,
  .add-links .user-input #link-icon {
    text-align: left;
    color: black;
    background-color: whitesmoke;
    justify-content: flex-start;
    display: table-row;
    font-family: monospace;
  }

  #add-link {
    width: 75%;
    margin: 0;
    position: relative;
    margin-top: 10px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    font-size: 11px;
    box-shadow: 0.25rem 0.25rem 2.5rem rgba(0, 0, 0, 0.5);
  }

}

@media screen and (max-width: 576px) {
  h3 {
    text-align: center;
    color: white;
    font-size: 17px;
    margin-top: 2%;
  }

  .add-links .user-input {
    font-size: 11px;
    float: none;
    margin-right: 0;
    color: white;
    padding: 3px;
    margin-bottom: 3px;
  }

  label {
    font-size: 16px;
    text-align: center;
    justify-content: center;
  }

  .add-links .user-input #link-name,
  .add-links .user-input #link-url,
  .add-links .user-input #link-icon {
    text-align: left;
    color: black;
    background-color: whitesmoke;
    justify-content: flex-start;

    display: block;
    font-family: monospace;
  }

}


  #add-link {
    width: 80%;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 600;
    flex-direction: row;
    margin-left: 100px;
    color: black;

    font-size: 11px;
    margin-top: 10px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0.25rem 0.25rem 1.5rem rgba(0, 0, 0, 0.5);
  }
}

@media screen and (max-width: 430px) {
  h3 {
    text-align: center;
    color: white;
    font-size: 13px;
    margin-top: 2%;
  }

  .add-links .user-input {
    font-size: 9px;
    float: none;
    margin-right: 0;
    color: white;
    padding: 5px;
    margin-bottom: 5px;

  }

  label {
    font-size: 10px;
    text-align: center;
    justify-content: center;
  }

  .add-links .user-input #link-name,
  .add-links .user-input #link-url,
  .add-links .user-input #link-icon {
    text-align: left;
    color: black;
    background-color: whitesmoke;
    justify-content: flex-start;
    display: block;
    font-family: monospace;
  }

  #add-link {
    width: 85%;
    text-align: center;
    color: black;
    font-size: 9px;
    margin-top: 5px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.5);
  }
}
