.btn:hover{
    background-color: #fff;
    color: tomato;
}

nav{
    color: #fff;
}

 .btn{
    color:#000;
    background-color: whitesmoke;
 }

 .dropdown-menu{
    background-color: #000;
    color: #000;
 }


body{
    background-color: #fff;
}

.weather{
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.432)),
    url("./assets/images/sky-1.jpg");
}

.add-links{
    background-color: rgba(255, 255, 255, 0.432);
    
}

.weather-wrapper{
    filter: brightness(100%) saturate(100%) invert(100%);
}


.input-wrapper{
    filter: brightness(100%) saturate(100%) invert(100%);
}


