.svg-icon {
  display: inline-block;
  max-width: 20px;
  max-height: 20px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(100%)
    hue-rotate(346deg) contrast(108%);
}

.weather .weather-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 10px;
}

.weather .weather-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 0;
}

.weather .weather-row button img {
  max-width: 20px;
  max-height: 20px;
  object-fit: cover;
}

.weather .hidden-weather {
  /* display: none; */
  /* We will reduce the .weather height with bootstrap when this is hidden ie. h-25 */
}

.weather img.city-weather-icon-result {
  height: 4rem;
  width: 4rem;
}
